<h2>Sign up</h2>

<%= form_tag(user_registration_path,:method => 'post') %>
<%= devise_error_messages! %>
<table>

  <tr>
    <td>Username : </td>
    <td><%=text_field_tag "user[name]",@user.name %></td>
  </tr>

  <tr>
    <td>Email : </td>
    <td><%=email_field_tag "user[email]",@user.email %></td>
  </tr>

  <tr>
    <td>Password : </td>
    <td><%=password_field_tag "user[password]",@user.password %></td>
  </tr>

  <tr>
    <td>Retype password : </td>
    <td><%=password_field_tag "user[password_confirmation]",@user.password_confirmation %></td>
  </tr>

  <tr>
    <td>Mobile : </td>
    <td><%=text_field_tag "contact[mobile]" ,@contact.mobile %></td>
  </tr>

  <tr>
    <td>Address Line 1 : </td>
    <td><%=text_field_tag "contact[address_1]" ,@contact.address_1 %></td>
  </tr>

  <tr>
    <td>Address Line 2 : </td>
    <td><%=text_field_tag "contact[address_2]" ,@contact.address_2 %></td>
  </tr>

  <tr>
    <td>State : </td>
    <td><%= select_tag "contact[state]", options_for_select(UserContactHelper.us_states) %></td>
  </tr>

  <tr>
    <td>Zipcode : </td>
    <td><%=text_field_tag "contact[zip_code]" ,@contact.zip_code %></td>
  </tr>

  <tr>
    <td><%= submit_tag nil, :class => "form_submit"%></td>
  </tr>
</table>
<br />
<%= render :partial => "devise/shared/links" %>