<p>
  <strong><%= @user.name %></strong>
</p>
<p>
  Email: <%= @user.email %><br>
  Num Logins: <%= @user.sign_in_count%>
</p>
<p>
  <!-- show contact info if user has any -->
  <% if @user.contact %>
      Address:<br/>
      <%= @user.contact.address_1 %><br/>
      <%= @user.contact.address_2 %><br/>
      <%= UserContactHelper.state_name @user.contact.state %><br/>
      <%= @user.contact.zip_code %><br/>
  <% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
