<p id="notice"><%= notice %></p>
<p>
  <strong><%= @user.name %></strong>
</p>
<p>
  Email: <%= @user.email %><br>
  Num Logins: <%= @user.num_logins%>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
